<!-- Footer-->
<footer class="bg-gray-300 border-t flex flex-col space-y-10 justify-center p-10">
  <div class="flex justify-center space-x-5">
    <a href="{{ site.Params.facebook }}" target="_blank" rel="noopener noreferrer">
      <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
    </a>
    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
      <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
    </a>
    <a href="{{ site.Params.twitter }}" target="_blank" rel="noopener noreferrer">
      <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
    </a>
  </div>
  <p class="text-center text-gray-700 font-medium">Copyright &copy; {{ .Name }} {{ now.Format "2006"}}</p>
</footer>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>