<!-- Navigation-->
<nav
  class="navbar flex flex-wrap items-center content-between py-3 px-4 text-white top-0 right-0 left-0 z-40 fixed"
  id="mainNav"
>
  <div class="container mx-auto sm:px-4 px-4 lg:px-12">
    <div class="navbar-logo brush-wrap">
      <img src="{{ .Site.Params.logo }}" alt="logo" />
      {{ with site.Data.homepage.main }}
      <a
        class="navbar-brand inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap"
        href="#page-top"
        >{{ .header.title }}</a
      >
      {{ end }}
    </div>

    <!-- <button
      class="navbar-toggler py-1 px-2 text-md leading-normal bg-transparent border border-transparent rounded navbar-toggler-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>-->
    <input type="checkbox" id="navbar-checkbox">
    <label for="navbar-checkbox" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <div
      class="navbar-collapse flex flex-grow items-center"
      id="navbarResponsive"
    >
      <ul class="navbar-nav flex flex-wrap list-reset pl-0 mb-0 ms-auto">
        {{ range site.Menus.main }}
        <li class="nav-item">
          <a
            class="nav-link inline-block py-2 px-4 no-underline"
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
