$base-color: rgb(93, 49, 45);
$base-accent: rgb(255, 255, 61);
$link-active: #467370;
$link-social: rgba(255, 255, 255, 0.3);
$link-social-active: #fff;
$link-social-hover: rgba(255, 255, 255, 0.5);
$link-social-background: rgba(255, 255, 255, 0.1);