<!DOCTYPE html>
<html lang="nl-BE" class="overflow-x-hidden">
  {{- partial "head.html" . -}}
  <body id="page-top" class="overflow-x-hidden">
    {{- partial "header.html" . -}}
    <!-- Masthead-->
    <header class="masthead h-screen">
      <div class="container mx-auto sm:px-4 px-4 lg:px-12 flex h-full items-center justify-center">
        <div class="flex justify-center">
          <div class="text-center">
            {{ with site.Data.homepage.main }} {{ $content := replace .header.title "\n" "<br />" | safeHTML }}
            <h1 class="mx-auto my-0 title">{{ $content }}</h1>
            <a href="#huidige_editie">
              <div class="bg-base-accent inline-block brushed px-20 py-10 mt-32 lg:mt-10 opacity-80">
                <h3 class="text-2xl xl:text-4xl uppercase text-base-color font-bold">{{ .header.description }}</h3>
              </div>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </header>
    <!-- Welcome-->
    {{ with site.Data.homepage.about }}
    <section class="brushed-image -mt-36 pt-40 pb-60 text-center z-10" id="welkom">
      <div class="container mx-auto px-4 lg:px-12">
        <div class="flex flex-wrap gx-4 gx-lg-5 justify-center">
          <div class="lg:w-2/3 pr-4 pl-4">
            <h2 class="text-white mb-4 w-full inline-block">{{ .title }}</h2>
            {{ $content := replace .description "\n" "<br />" | safeHTML }}
            <p class="text-white text-xl">{{ $content }}</p>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!-- Current edition-->
    {{ with site.Data.homepage.currentedition }}
    <section class="bg-white pb-8 -mt-44 z-10" id="huidige_editie">
      <div class="bg-base-color brushed py-28 -mx-56 flex items-center z-10">
        <div class="text-white inline-block py-8 px-20 mx-auto uppercase">
          <h2 class="text-6xl lg:text-8xl text-center">{{ $.Page.RenderString .title }}</h2>
        </div>
      </div>
      <div class="pb-12">
        <div class="container mx-auto px-4 lg:px-12 pt-16">
          <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">{{ .lastdetails.title }}</h2>
          <div class="grid md:gap-16 md:grid-cols-2">
            <picture>
              {{ $image := resources.Get "images/vrt-1.jpg" }} {{ $medium := $image.Resize "768x" }} {{ $mediumwebp := $image.Resize "768x webp" }}
              <source srcset="{{ $mediumwebp.RelPermalink }}" type="image/webp" />
              <source srcset="{{ $medium.RelPermalink }}" type="image/jpeg" />
              <img src="{{ $medium.RelPermalink }}" alt="Redenen" />
            </picture>
            <picture>
              {{ $image := resources.Get "images/vrt-2.jpg" }} {{ $medium := $image.Resize "768x" }} {{ $mediumwebp := $image.Resize "768x webp" }}
              <source srcset="{{ $mediumwebp.RelPermalink }}" type="image/webp" />
              <source srcset="{{ $medium.RelPermalink }}" type="image/jpeg" />
              <img src="{{ $medium.RelPermalink }}" alt="Redenen" />
            </picture>
          </div>
          <div class="my-2 py-8 border-y">
            <h3 class="max-w-full">{{ $.Page.RenderString .lastdetails.olddetails }}</h3>
          </div>
        </div>        
        <div class="container mx-auto px-4 lg:px-12 grid md:gap-16 md:grid-cols-2 pt-16">          
          <div class="relative overflow-hidden">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.3231129445203!2d4.995012377559897!3d50.917739653607114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1403d0f3fb00b%3A0xc126dece8a7ccdb9!2sSK%20Waanrode!5e0!3m2!1sen!2sbe!4v1707330273229!5m2!1sen!2sbe"
              width="600"
              height="450"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class="border-2 min-h-56 h-full w-full object-cover object-top relative z-10"
              title="Google maps"
            ></iframe>
            <picture class="absolute top-0">
              {{ $image := resources.Get "images/waanrode.jpg" }} {{ $mediumW := $image.Resize "430x" }} {{ $mediumWwebp := $image.Resize "430x webp" }}
              <source srcset="{{ $mediumWwebp.RelPermalink }}" type="image/webp" />
              <source srcset="{{ $mediumW.RelPermalink }}" type="image/jpeg" />
              <img src="{{ $mediumW.RelPermalink }}" class="object-cover" alt="Waanrode" />
            </picture>
          </div>
          <div>
            <div class="pt-8">
              <h2>{{ .register.date }}</h2>
              <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">{{ .register.title }}</h2>

              <p>{{ $.Page.RenderString .register.description }}</p>
            </div>
            <div class="brushed bg-base-accent mt-4 p-14 font-extrabold mb-12">{{ .register.place }}</div>
          </div>
          <div class="mb-4">
            <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">{{ .reasons.title }}</h2>
            {{ $.Page.RenderString .reasons.description }}
          </div>
          <div>
            <picture>
              {{ $image := resources.Get "images/bg-reasons.jpg" }} {{ $medium := $image.Resize "768x" }} {{ $mediumwebp := $image.Resize "768x webp" }}
              <source srcset="{{ $mediumwebp.RelPermalink }}" type="image/webp" />
              <source srcset="{{ $medium.RelPermalink }}" type="image/jpeg" />
              <img src="{{ $medium.RelPermalink }}" alt="Redenen" />
            </picture>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <div class="bg-gray-100 brushed pt-144 -mx-40">&nbsp;</div>
    <!-- Previous edition-->
    {{ with site.Data.homepage.previousedition }}
    <section class="bg-gray-100 pb-20 -mt-128 relative z-20" id="vorige_editie">
      <div class="container mx-auto px-4 lg:px-12">
        <div class="pb-12">
          <div class="container mx-auto px-4 lg:px-12 grid md:gap-16 md:grid-cols-2 pt-16">
            <div>
              <div class="pt-8">
                <h2>{{ .date }}</h2>
                <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">{{ .title }}</h2>
                <p>{{ $.Page.RenderString .description }}</p>
              </div>
              <div class="brushed bg-base-accent text-center mt-4 p-14 text-2xl font-extrabold mb-12">
                <a href="{{ .link }}" target="_blank">{{ .linktext }}</a>
              </div>
            </div>
            <div>
              <picture>
                {{ $image := resources.Get "images/previous-edition.jpg" }} {{ $medium := $image.Resize "768x" }} {{ $mediumwebp := $image.Resize "768x webp" }}
                <source srcset="{{ $mediumwebp.RelPermalink }}" type="image/webp" />
                <source srcset="{{ $medium.RelPermalink }}" type="image/jpeg" />
                <img src="{{ $medium.RelPermalink }}" alt="Previous Edition" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <div class="bg-white brushed pt-144 -mt-20 -mx-40 z-20">&nbsp;</div>
    <!-- Distances-->
    {{ with site.Data.homepage.dinstancegroup }}
    <section class="bg-white -mt-128 relative z-30" id="afstanden">
      <div class="container mx-auto px-4 lg:px-12">
        <div class="relative z-20">
          <h2 class="text-4xl tracking-tight font-extrabold text-gray-900">{{ .title }}</h2>
        </div>
        <div class="pt-4">{{ $.Page.RenderString .description }}</div>
        <div class="py-12 grid md:gap-12 md:grid-cols-2">
          {{ range site.Data.homepage.dinstancegroup.distances }}
          <div class="shadowy flex flex-col brushed4 distance p-6">
            <div class="p-6 pb-2 flex flex-1 flex-col">
              <header class="pb-2 border-b">
                <h3 class="inline-flex items-baseline pb-4 text-2xl">
                  <span>{{ .title }}</span>
                </h3>
              </header>
              <div class="my-6">{{ $.Page.RenderString .description }}</div>
              <footer class="py-6 mt-auto grid xl:grap-2 xl:grid-cols-3 border-t">
                <div class="inline-flex items-center xl:place-content-start whitespace-nowrap">
                  <span class="w-8 lg:w-6 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon pr-4">
                      <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                      <path
                        fill-rule="evenodd"
                        d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087Zm6.163 3.75A.75.75 0 0 1 10 12h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                  <span>{{ site.Data.homepage.dinstancegroup.supply }}: {{ .supply }}</span>
                </div>
                <div class="inline-flex items-center xl:place-content-center whitespace-nowrap">
                  <span class="w-8 lg:w-6 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="icon pr-4">
                      <path d="M720-480v-168l-64 64-56-56 160-160 160 160-56 57-64-64v167h-80ZM40-80l240-320 180 240h300L560-426 460-294l-50-66 150-200L920-80H40Zm420-80Z" />
                    </svg>
                  </span>
                  <span>{{ site.Data.homepage.dinstancegroup.height }}: {{ .height }}</span>
                </div>
                <div class="inline-flex items-center xl:place-content-end whitespace-nowrap">
                  <span class="w-8 lg:w-6 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon pr-4">
                      <path
                        fill-rule="evenodd"
                        d="M15.22 6.268a.75.75 0 0 1 .968-.431l5.942 2.28a.75.75 0 0 1 .431.97l-2.28 5.94a.75.75 0 1 1-1.4-.537l1.63-4.251-1.086.484a11.2 11.2 0 0 0-5.45 5.173.75.75 0 0 1-1.199.19L9 12.312l-6.22 6.22a.75.75 0 0 1-1.06-1.061l6.75-6.75a.75.75 0 0 1 1.06 0l3.606 3.606a12.695 12.695 0 0 1 5.68-4.974l1.086-.483-4.251-1.632a.75.75 0 0 1-.432-.97Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                  <span>{{ site.Data.homepage.dinstancegroup.hills }}: {{ .hills }}</span>
                </div>
              </footer>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
    <div class="bg-white brushed pt-144 -mx-40 -mt-128 -mb-80 relative z-10">&nbsp;</div>
    <!-- Information-->
    {{ with site.Data.homepage.information }}
    <section class="relative z-1 pt-60 pb-12" id="informatie">
      <div class="pt-16 container mx-auto px-4 lg:px-12" id="informatie_anchor">
        <div class="information py-8 px-4 mx-auto container sm:py-16 lg:px-6">
          <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900">{{ .title }}</h2>

          <div class="grid md:gap-8 md:grid-cols-2">
            {{ range .items }}
            <div class="mb-10">
              <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500">
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                    clip-rule="evenodd"
                  />
                </svg>

                {{ .title }}
              </h3>
              <div class="text-gray-900">{{ $.Page.RenderString .description }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!-- Over ons-->
    {{ with site.Data.homepage.club }}
    <div class="bg-gray-100 brushed pt-144 -mx-40 -mt-20 -mb-128">&nbsp;</div>
    <section class="bg-gray-100 relative z-10" id="over_ons">
      <div class="container mx-auto px-4 lg:px-12">
        <div class="pt-2 pb-12">
          <div class="grid lg:gap-12 xl:grid-cols-2">
            <div class="pt-4 flex lg:justify-center flex-col">
              <div>
                <h2 class="font text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl club-title">{{ .title }}</h2>
                <p class="my-4 text-xl text-gray-500">{{ .description }}</p>
                <a href="#contact" class="inline-block rounded-md border border-transparent bg-indigo-600 mt-2 py-3 px-8 text-center font-medium text-white hover:bg-indigo-700"
                  >{{ .btn }}</a
                >
              </div>
            </div>
            <div>
              <div class="mt-10">
                <!-- Decorative image grid -->
                <div aria-hidden="true" class="pointer-events-none">
                  <div class="flex items-center">
                    <div class="flex items-center space-x-2 sm:space-x-6 lg:space-x-8 mx-auto">
                      <div class="grid flex-shrink-0 grid-cols-1 gap-2 sm:gap-y-6 lg:gap-y-8">
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image6 := resources.Get "images/over/6.jpg" }} {{ $medium6 := $image6.Resize "768x" }} {{ $mediumwebp6 := $image6.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp6.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium6.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium6.RelPermalink }}" alt="Over ons 6" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image2 := resources.Get "images/over/2.jpg" }} {{ $medium2 := $image2.Resize "768x" }} {{ $mediumwebp2 := $image2.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp2.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium2.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium2.RelPermalink }}" alt="Over ons 2" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                      </div>
                      <div class="grid flex-shrink-0 grid-cols-1 gap-2 sm:gap-y-6 lg:gap-y-8">
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image3 := resources.Get "images/over/3.jpg" }} {{ $medium3 := $image3.Resize "768x" }} {{ $mediumwebp3 := $image3.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp3.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium3.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium3.RelPermalink }}" alt="Over ons 3" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image4 := resources.Get "images/over/4.jpg" }} {{ $medium4 := $image4.Resize "768x" }} {{ $mediumwebp4 := $image4.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp4.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium4.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium4.RelPermalink }}" alt="Over ons 4" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image5 := resources.Get "images/over/5.jpg" }} {{ $medium5 := $image5.Resize "768x" }} {{ $mediumwebp5 := $image5.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp5.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium5.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium5.RelPermalink }}" alt="Over ons 5" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                      </div>
                      <div class="grid flex-shrink-0 grid-cols-1 gap-2 sm:gap-y-6 lg:gap-y-8">
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image1 := resources.Get "images/over/1.jpg" }} {{ $medium1 := $image1.Resize "768x" }} {{ $mediumwebp1 := $image1.Resize "768x webp" }}
                            <source srcset="{{ $mediumwebp1.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium1.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium1.RelPermalink }}" alt="Over ons 1" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                        <div class="h-40 w-[120px] sm:h-64 sm:w-44 overflow-hidden rounded-lg">
                          <picture>
                            {{ $image7 := resources.Get "images/over/7.jpg" }} {{ $medium7 := $image7.Resize "778x" }} {{ $mediumwebp7 := $image7.Resize "778x webp" }}
                            <source srcset="{{ $mediumwebp7.RelPermalink }}" type="image/webp" />
                            <source srcset="{{ $medium7.RelPermalink }}" type="image/jpeg" />
                            <img src="{{ $medium7.RelPermalink }}" alt="Over ons 7" class="h-full w-full object-cover object-center" />
                          </picture>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bg-gray-100 brushed pt-144 -mx-40 -mt-128 -mb-20 relative z-1">&nbsp;</div>
    {{ end }}
    <!-- Contact-->
    {{ with site.Data.homepage.contact }}
    <section id="contact" class="pb-20 bg-gray-200 pt-28">
      <div class="pb-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="lg:text-center">
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ .title }}</p>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-4 lg:px-12">
        <div class="flex flex-wrap gx-4 gx-lg-5">
          <div class="w-full md:w-1/3 pr-4 pl-4 mb-3 md:mb-0">
            <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 py-4 h-full">
              <div class="flex-auto p-6 text-center">
                <i class="mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M8.161 2.58a1.875 1.875 0 0 1 1.678 0l4.993 2.498c.106.052.23.052.336 0l3.869-1.935A1.875 1.875 0 0 1 21.75 4.82v12.485c0 .71-.401 1.36-1.037 1.677l-4.875 2.437a1.875 1.875 0 0 1-1.676 0l-4.994-2.497a.375.375 0 0 0-.336 0l-3.868 1.935A1.875 1.875 0 0 1 2.25 19.18V6.695c0-.71.401-1.36 1.036-1.677l4.875-2.437ZM9 6a.75.75 0 0 1 .75.75V15a.75.75 0 0 1-1.5 0V6.75A.75.75 0 0 1 9 6Zm6.75 3a.75.75 0 0 0-1.5 0v8.25a.75.75 0 0 0 1.5 0V9Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </i>
                <h4 class="uppercase m-0">{{ .address.title }}</h4>
                <hr class="my-4 mx-auto" />
                <div class="text-xs text-black-50">{{ .address.description }}</div>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 pr-4 pl-4 mb-3 md:mb-0">
            <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 py-4 h-full">
              <div class="flex-auto p-6 text-center">
                <i class="mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block w-6 h-6">
                    <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                    <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                  </svg>
                </i>
                <h4 class="uppercase m-0">{{ .email.title }}</h4>
                <hr class="my-4 mx-auto" />
                <div class="text-xs text-black-50">
                  <a href="#!"><span>{{ $.Page.RenderString .email.description }}</span><span>{{ $.Page.RenderString .email.descriptionpart2 }}</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 pr-4 pl-4 mb-3 md:mb-0">
            <div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-gray-300 py-4 h-full">
              <div class="flex-auto p-6 text-center">
                <i class="mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block w-6 h-6">
                    <path d="M10.5 18.75a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" />
                    <path
                      fill-rule="evenodd"
                      d="M8.625.75A3.375 3.375 0 0 0 5.25 4.125v15.75a3.375 3.375 0 0 0 3.375 3.375h6.75a3.375 3.375 0 0 0 3.375-3.375V4.125A3.375 3.375 0 0 0 15.375.75h-6.75ZM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 0 1 7.5 19.875V4.125Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </i>
                <h4 class="uppercase m-0">{{ .cellphone.title }}</h4>
                <hr class="my-4 mx-auto" />
                <div class="text-xs text-black-50"><span>{{ .cellphone.description }}</span><span>{{ .cellphone.descriptionpart2 }}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }} {{- partial "footer.html" . -}} {{- partial "clippath.html" . -}}
  </body>
</html>
